/* SETUP */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* BASE */

@import 'basic/base.css';
@import 'basic/layout.css';
@import 'basic/helpers.css';
@import 'basic/buttons.css';
@import 'setup/mq.css';

/* COMPONENET */
@import 'componenets/canvas.css';
@import 'componenets/main-header.css';
@import 'componenets/nav-bar.css';
@import 'componenets/main-content.css';
