* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: Montserrat;
}

img {
  /* width: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
