.hidden {
  display: none !important;
}

.hidden-opacity {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* LIST  */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
