.profile-img {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  margin-right: 40px;
}

.about-me-container {
  padding: 5.5rem 3.875rem 7.375rem 4.25rem;
}

.social-nav li {
  margin-right: 0.5em;
}
.social-nav i {
  color: var(--clr1);
}

.social-nav i:hover {
  color: rgba(255, 128, 0, 0.445);
}
