header {
  background-color: var(--clr1);
}

.main-header {
  height: 66px;
}

.main-header .main-nav a {
  color: var(--clr2);
  font-size: 1.1875rem;
  line-height: 1.425;
}

.main-nav > *:not(:last-child) {
  margin-inline-end: 20px;
}

.main-nav li a:hover {
  color: #000;
}
