main {
  background-color: var(--clr3);
}
.main-content {
  padding-top: 1.562em;
  padding-bottom: 1.6875em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 350px));

  grid-auto-rows: 278px;
  /* grid-auto-flow: dense; */
  gap: 25px;

  margin: 0 auto;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-img {
  cursor: pointer;
}
.editor {
  display: flex;
}

.canvas-container {
  width: 541px;
  height: 551px;
}

.canvas-operation {
  padding-left: 5.6875em;
  padding-right: 4.51875em;
}

.input-txt {
  border: none;
  font-family: Montserrat;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.25rem;
  margin-bottom: 11px;
}

.input-txt:foucs {
  outline: none;
  box-shadow: inset -1px 1px 3px 0px #000;
}

.operator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
}

.operator-container img {
  margin-left: 19px;
}

.operator-container:nth-child(2) {
  margin-left: 0;
}

.fill-color,
.stroke-color {
  top: 0;
  left: 15px;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.fill-color-div {
  display: inline-block;
  position: relative;
  height: 60px;
}

.text-manipulation-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.text-manipulation-container img {
  /* margin-left: 18px; */
}

.fonts-select {
  padding: 18.4px 13px 17.6px 20.3px;
  font-family: Montserrat;
  border-radius: 12px;
  grid-column: 3/6;
  font-size: 1.25rem;
}
