main {
  background-color: var(--clr3);
}
.main-content {
  padding-top: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-auto-rows: 300px;
  /* grid-auto-flow: dense; */
  gap: 21px;

  margin: 0 auto;
}

.gallery img {
  width: 100%;
  height: 100%;
}
