.main-screen {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

body.menu-open .main-screen {
  z-index: 5;
  pointer-events: auto;
  opacity: 1;
}

body.menu-open .main-nav {
  z-index: 10;
  text-align: center;
}

.nav-logo {
  display: none;
}
body.menu-open .nav-logo {
  display: block;
}

body.menu-open .main-header .main-nav > *:not(:last-child) {
  margin-inline-end: 0;
}
