@media (max-width: 1120px) {
  .main-layout {
    max-width: 900px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(120px, 283.3px));
  }
  .canvas-operation {
    padding-left: 1.5em;
    padding-right: 0;
  }
}

@media (max-width: 920px) {
  .main-layout {
    max-width: 700px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery img {
    height: auto;
  }

  .gallery > * {
    flex-basis: 48%;
  }
  #canvas {
    width: 400px;
    height: 400px;
  }
  .about-me-container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 890px) {
  .main-nav {
    top: 0;
    position: fixed;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--clr1);
    padding: 2rem;
    gap: 1rem;
    min-width: 220px;
    transform: translateX(100%);
    transition: transform 0.3s;
  }

  .search {
    flex-direction: column;
    gap: 1rem;
  }
  .btn-menu {
    display: block;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -1px 4px 12px 2px #000;
  }
  .editor {
    flex-direction: column;
    align-items: center;
  }
  .canvas-container {
    height: 400px;
    width: 400px;
    margin-bottom: 1em;
  }
}

@media (max-width: 720px) {
  .about-me-container {
    flex-direction: column;
    text-align: center;
  }

  .gallery {
    gap: 5px;
    padding: 15px;
  }
  .social-nav {
    justify-content: center;
  }
  .profile-img {
    margin-right: 0;
  }
}
